@-ms-viewport{
    width: device-width;
}

body {
    margin: 0;
    padding: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
        "pageHeader fixedHeader"
        "mainContent mainContent"
        "footer footer";
}

#pageHeader {
    grid-area: pageHeader;
    background-color: rgb(82, 136, 236);
}

#fixedHeader {
    grid-area: fixedHeader;
    background-color: rgb(125, 157, 216);
}

#mainContent {
    grid-area: mainContent;
    background-color: rgb(100, 237, 196);
}

footer {
    grid-area: footer;
    background-color: rgb(237, 212, 100);
}