body{
    margin: 0;
    padding: 0;
    height: 100vw;
    background-image: linear-gradient(#E1EAD9, #7F8F85);
    background-repeat: no-repeat;
}

#mainContainer{
    position: relative;
    display: flex;
    width: 1325px;
    height: 768px;
    margin: auto;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

#logo{
    position: absolute;
    margin: 1px; 
    text-align: center;
    width: 100%;
    font-size: 50px;
    top: 5%;
}

#boxContainer{
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0;
    display: inline-block;
    width: 75%; 
    height: 75%; 
    top: 20%;
    left: 12.5%; 
    background-color: #F2F2E8;
    border-radius: 20px; 
    opacity: 0.8;
    box-shadow: 10px 10px 5px #3a5532;
    z-index: 100;
    overflow: hidden;
}

#gettingStartedText{
    position: absolute;
    font-size: 15px;
    left: 20%; 
    text-decoration: underline;
}

.inputBox{
    position: absolute;
    font-size: 15px;
    width: 50%;
    text-align: center;
    padding: 10px; 
    border-radius: 20px;
}

#inputBox1{
    top: 20%;
    left: 1%;
}

#inputBox2{
    top: 50%;
    left: 1%;
}

.addButton{
    position: absolute;
    left: 80%;
    height: 30%;
    width: 10%;
    top: 89%;
    border-radius: 20px; 
    border: 1px solid black;
    background-color: #dddfe0;
}

.removeButton{
    position: absolute;
    border: 1px solid black; 
    border-radius: 20px;
    background-color: #dddfe0;
}

#removeButton1{
    top: 125px;
    left: 40px; 
}

#removeButton2{
    top: 245px;
    left: 30px;
}

#outputUser1{
    position: absolute;
    width: 10%;
    font-size: 20px;
    opacity: 0.7;
    top: 40%;
    left: 700px;
}

#outputName{
    position: absolute;
    left: 700px;
    font-size: 20px;
    opacity: 0.7;
    top: 14%;
}

#projectName, #registeredUsers{
    text-decoration: underline;
    text-decoration-style:dotted;
}

input[type=text]{
    position: absolute;
    left: 10%;
    height: 30%;
    font-size: 60%;
    top: 80%;
    width: 80%;
    margin: 8px 0;
    padding: 1px 10px;
    box-sizing: border-box;
    border-radius: 20px; 
    border: 1px solid black; 
    color: #747270;
}

input[type=text]:focus{
    border: 3px solid #555;
}

#listUsers{
    position: absolute;
    background: #F2F2E8;
    width: 130px;
    height: 150px; 
    overflow: auto;
    top: 70px;
    left: -20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 1px;
}

#listedPname{
    position: absolute;
    top: 70px;
    left: -20px;
    width: 130px;
    height: 30px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 1px;
}


#seperationWall{
    position: absolute;
    background-color: black;
    height: 814.5px;
    width: 4px;
    left: 550px;
}

#forest{
    position: absolute;
    display: inline-block;
    opacity: 0.5;
    width: 550px;
    bottom: 0;
    border-top-left-radius: 20%; 
}

#overviewText{
    position: absolute;
    width: 200px;
    left: 675px;
    font-size: 30px; 
    text-decoration: underline;
    text-decoration-color: #847d7d;
}

#submit{
    position: absolute;
    bottom: 15px;
    left: 735px;
}

input[type=submit]{
    width: 70px; 
    height: 50px;
    border-radius: 20px; 
    background-color: #dddfe0;
    border: 1px solid black; 
}

.curlyImg{
    position: absolute;
    height: 20px;
    opacity: 0.7; 
}

#curlyRight1{
    left: 334px;
    top: 150px;
}

#curlyLeft1{
    left: 195px; 
    top: 150px;
    transform: rotateY(180deg);
}

#curlyRight2{
    left: 305px;
    top: 323px;
}

#curlyLeft2{
    left: 225px; 
    top: 323px; 
    transform: rotateY(180deg);
}




