body{
    background-image: linear-gradient(#E1EAD9, #7F8F85);
    background-repeat: no-repeat;
    height: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;

}
.mainWrapper{
    position: relative;
    display: flex;
    width: 1325px;
    height: 768px;
    margin: auto;

}

.logo{
    position: absolute;
    left: 555px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 100px;
    opacity: 0.5;
    text-decoration: underline;
    
}

.yourProjects{
    position: absolute;
    left: 500px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 70px;
    opacity: 0.5;
    text-decoration: underline;
    top: 150px;
    
}

.loginBox{
    position: absolute;
    top: 0;
    right: 0px;
    border: 2px solid #F2F2E8;
    background-color: #F2F2E8;
    padding: 3px;
    margin: 8px;
    height: 30px;
    width: 133px;
    border-radius: 20px;
}

.login{
    position: absolute;
    top: 16px;
    right: 35px;
    font-size: 15px;
    font-family: "Open Sans Condensed", sans-serif;
    opacity: 0.6;
    text-decoration: underline;
    z-index: 1;
}

.buttonWrapper1{
    position: absolute;
    top: 280px;
    left: 345px;
}

.buttonWrapper2{
    position: absolute;
    top: 280px;
    left: 345px;
    top: 430px;

}

.projectButtons{
    width: 280px;
    height: 130px;
    opacity: 0.6;
    border: 1px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    cursor: pointer;

}

.projectButtons:hover{
    box-shadow: 5px 10px #888888;
    
}

#project1{
    
}

#project2{
    
}

#project3{
    
}
#project4{
    
}

.user{
    position: absolute;
    width: 30px;
    height: 30px;
    
}

#user1{
    left: 360px;
    top: 295px;
}

#user2{
    left: 395px;
    top: 295px;
}

#user3{
    left: 430px;
    top: 295px;
}

#user4{
    left: 465px;
    top: 295px;
}

#user5{
    left: 500px;
    top: 295px;
}

#user6{
    left: 535px;
    top: 295px;
}

#partyProject{
    position: absolute;
    top: 10px;
    left: 314px;
    width: 280px;
    height: 130px;
    border-radius: 20px;
    opacity: 0.5;
    z-index: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.showUsers{
    position: absolute;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 2px;
    left: 70px;
    top: 3px;
    text-decoration-line: underline;
    border-radius: 20px;
    
    
}































