
body{
    background-color: lightgrey;

}

/* Container (main)*/
.container {

    position: relative;
    height: 750px;
    width: 1502px;
    z-index: 2;
}


/* --- OVERSKRIFT --- */

/* Container for cardsTitle*/
.cardsTitleContainer {
    width: 260px;
    height: 80px;
    position: absolute;
}

/* Tittel ovenfor kortene */
.cardsTitle {
    width: 250px;
    height: 60px;
    position: absolute;
    z-index: 100;

}

/* Tittel 1 - Planned */
#cardsTitleContainer1 {
    top: 0;
    left: 0;
    background-color: #AEC0B2;
}

#cardsTitle1 {
    top: 5px;
    left: 5px;
    background-color: mintcream;
}

#planned {
    bottom: 20px;
    left: 55px;
    Color: #7f8f85;
    font-size: xx-large;
    position: relative;
}

/* Tittel 2 - Assistance */
#cardsTitleContainer2 {
    top: 0;
    left: 300px;
    background-color: #AEC0B2;
}

#cardsTitle2 {
    top: 5px;
    left: 5px;
    background-color: mintcream;
}

#assistance {
    bottom: 20px;
    left: 30px;
    Color: #7f8f85;
    font-size: xx-large;
    position: relative;
}

/* Tittel 3 - In progress */
#cardsTitleContainer3 {
    top: 0;
    left: 600px;
    background-color: #AEC0B2;
}

#cardsTitle3 {
    top: 5px;
    left: 5px;
    background-color: mintcream;
}

#inProgress {
    bottom: 20px;
    left: 25px;
    Color: #7f8f85;
    font-size: xx-large;
    position: relative;
}

/* Tittel 4 - Finished */
#cardsTitleContainer4 {
    top: 0;
    left: 900px;
    background-color: #AEC0B2;
}

#cardsTitle4 {
    top: 5px;
    left: 5px;
    background-color: mintcream;
}

#finished {
    bottom: 20px;
    left: 55px;
    Color: #7f8f85;
    font-size: xx-large;
    position: relative;
}



/* --- SLUTT PÅ OVERSKRIFT --- */



/* --- KORTBLOKK, KORT OG KNAPP --- */

/* Kortblokk */
.cardBlock {

    position: absolute;
    z-index: 3;

}

/* Kort */
.card {
    border-radius: 5%;
    height: 150px;
    width: 250px;
    position: absolute;
    z-index: 4;

}

/* Legg til et nytt kort */
.addNewCard {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 10000 !important;
    text-align: -moz-center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

/* Animasjoner til button addNewCard*/
.addNewCard:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.addNewCard:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/* -----------------------------------*/


/* BLOCKK 1 */
#cardBlock1 {
    left: 0;
    top: 120px;
    height: 350px;
    width: 260px;
    background-color: #B5D9E8;
}


/* Kort Vertical 1 og 2, Horizontal */
#cardV1-H1 {
    left: 5px;
    top: 5px;
    background-color: mintcream;
}

#cardV2-H1 {
    left: 5px;
    top: 160px;
    background-color: mintcream;
}


/* addNewCard1 - button */
#addNewCard1:hover {
    background: #AEC0B2;
    color: #F8FFB9;
    border-radius: 50%;
}


#addNewCard1 {
    height: 30px;
    width: 250px;
    left: 5px;
    top: 315px;
}
/* ------------ */


/* BLOCKK 2 */
#cardBlock2 {
    left: 300px;
    top: 120px;
    height: 350px;
    width: 260px;
    background-color: #FFA49A;
}


/* Kort Vertical 1 og 2, Horizontal */
#cardV1-H2 {
    left: 5px;
    top: 5px;
    background-color: mintcream;
}

#cardV2-H2 {
    left: 5px;
    top: 160px;
    background-color: mintcream;
}

#cardV2-H2 {
    left: 5px;
    top: 160px;
    background-color: mintcream;
}




/* addNewCard2 */
#addNewCard2:hover {
    background: #AEC0B2;
    color: #AEECB6;
    border-radius: 50%;
}


#addNewCard2 {
    height: 30px;
    width: 250px;
    left: 5px;
    top: 315px;
}
/* --- */


/* BLOCKK 3 */
#cardBlock3 {
    left: 600px;
    top: 120px;
    height: 350px;
    width: 260px;
    background-color: #F8FFB9;
}


/* Kort Vertical 1 og 2, Horizontal */
#cardV1-H3 {
    left: 5px;
    top: 5px;
    background-color: mintcream;
}

#cardV2-H3 {
    left: 5px;
    top: 160px;
    background-color: mintcream;
}


/* addNewCard3 */
#addNewCard3:hover {
    background: #AEC0B2;
    color: #B5D9E8;
    border-radius: 50%;
}


#addNewCard3 {
    height: 30px;
    width: 250px;
    left: 5px;
    top: 315px;
}
/* --- */


/* BLOCKK 4 */
#cardBlock4 {
    left: 900px;
    top: 120px;
    height: 350px;
    width: 260px;
    background-color: #AEECB5;
}


/* Kort Vertical 1 og 2, Horizontal */
#cardV1-H4 {
    left: 5px;
    top: 5px;
    background-color: mintcream;
}

#cardV2-H4 {
    left: 5px;
    top: 160px;
    background-color: mintcream;
}


/* addNewCard4 */
#addNewCard4:hover {
    background: #AEC0B2;
    color: #FFA49A  ;
    border-radius: 50%;
}


#addNewCard4 {
    height: 30px;
    width: 250px;
    left: 5px;
    top: 315px;
}
/* --- SLUTT PÅ KORTBLOKK, KORT OG KNAPP --- */