

html{
    background-image: linear-gradient(#E1EAD9, #7F8F85);
    background-repeat: no-repeat;
    height: 100%;
    
}

/*
.backgroundImage{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}
*/

.login{
    border-radius: 20px;
    text-align: right;
    top: 0;
    font-size: 22px;
    font-family: "Open Sans Condensed", sans-serif;
}

.loginBox{
    float: right;
    top: 0;
    border: 2px solid #F2F2E8;
    background-color: #F2F2E8;
    padding: 3px;
    margin: 8px;
    height: 30px;
    width: 133px;
    border-radius: 20px;
}


.logo{
    color: #579691;
    font-size: 100px;
    font-family: "Open Sans Condensed", sans-serif;
    top: 20px;
    position: relative;
    overflow: hidden;
    text-decoration: underline;
    text-align: center;
    left: 80px;
}

/*
.logoBox{
    top: 100px;
    left: 350px;
    border: 10px solid #FFA49A;
    padding: 10px;
    margin: 8px;
}

*/

/*

.btnBox{
    text-align: center;
    border: 5px solid #FFA49A;
    padding: 15px;
    margin: 150px;
    height: 150px;    
    border-radius: 20px;
   /* background-color: #A8ABAF; 
}

*/

.btn{
    text-align: center;
    left: 330px;
    top: 150px;
    color:;
    border: 1px;
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "Open Sans Condensed", sans-serif;
    width: 280px;
    height: 100px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;

}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #F2F2E8;
    transition: 1s;
    top: 0;
    border-radius: 50% 50% 0 0;
    z-index: -1;
}


#newProjectBtn::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

#projectBtn::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

#newProjectBtn::before, #projectBtn::before{
    height: 180%;
}

#newProjectBtn:hover::before{
    height: 0%;
}

#projectBtn:hover::before{
    height: 0%;
}






















