@charset "UTF-8";

body {
    background: #E1EAD9;
    font-family: sans-serif;
}

#logo {
    width: 100%;
    }
    
}

#main {
    width: 100%;
    height: 100%;
    color: #E1EAD9;
}

#proDesc {
    color: #7F8F85;
    border: 1px;
}

#codeM {
    color: #7F8F85;
    border: 1px; 
}

#colorTemplate {
    color: #7F8F85;
}

textarea {
    top:  240px;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#customButton {
    padding: 10px;
    color: white;
    background-color: #70D3AD;
    border: 1px solid #70D3AD;
    border-radius: 5px;
    cursor: pointer;
}

#customButton:hover {
    background-color: #B6E29A;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #666;
}

#customButton2 {
    padding: 10px;
    color: white;
    background-color: #70D3AD;
    border: 1px solid #70D3AD;
    border-radius: 5px;
    cursor: pointer;
}

#customButton2:hover {
    background-color: #B6E29A;
}

#custom-text2 {
    margin-left: 10px;
    font-family: sans-serif;
    color: #666;
}
